body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(imagem/fundo-preto-abstrato-da-grade-digital.jpg);
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    
}

a{
    color: white;
    text-decoration: none;

}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid green;
}

.center{
    text-align: center;

}

h1{
    color: green;
}

footer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

footer{
    display: flex;
    justify-content: center;    
}

footer a{
    margin: 30px;
    text-align: center;
}

footer p{
    margin-top:  top;

}

.container{
    padding: 0px 50px;
}

nav a:hover{
    color: green;
}

table{
    border-collapse: collapse;
}

th, td{
    border: 1px solid green;
    padding: 10px;
}
